.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;

    border: 1px solid #ccc; /* adjust as needed */
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.2), 8px 0 12px -8px rgba(0, 0, 0, 0.19); /* adjust as needed */
    border-radius: 5px; /* adjust as needed */
    margin-left: 0; /* remove space to the left */
}

.wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-navigation li.wd-active a {
    color: black;
}

.wd-navigation a {
    color: red;
    text-decoration: none;
}
