.wd-modules, .wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  padding-top: 15px;
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.button-grp {
  padding-top: 30px;
}

.wd-modules-button {
  margin: 5px;
  padding: 5px;
  border: 0.25px solid gray;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  cursor: pointer;
}

.add-module {
  color: white;
  background-color: var(--neu-color);
}