.custom-container {
    width: 90%;
    margin-left: 0;
}

.add-quiz-button {
    margin-top: 10px;
    background-color: var(--neu-color);
    border-color: #b51726;
    border-radius: 3px;
    font-size: 1rem;
}

.add-quiz-button:hover {
    background-color: #ca1a2a;
    border-color: #ca1a2a;
}

.quiz-group {
    margin-top: 5px;
    margin-bottom: 20px;
}

.custom-item:first-of-type {
    border-radius: 0px;
}

.quiz-item {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-left: 5px solid transparent;
}

.quiz-title {
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.quiz-title:hover {
    text-decoration: underline;
}

.bolder {
    font-weight: 600;
}

.quiz-info {
    display: flex;
    align-items: center;
}

.rocket {
    font-size: 1.3em;
    margin-left: -8px;
    margin-right: 20px;
}

.quiz-meta {
    display: flex;
    font-size: 13px;
    color: #666;
}

.quiz-meta div {
    width: 270px;
    text-align: left;
}

.quiz-meta span:not(.bolder) {
    margin-right: 20px;
}

.custom-header .accordion-button {
    background: whitesmoke;
    color: black;
    font-weight: 500;
}

.custom-header .accordion-button:focus {
    box-shadow: none !important;
}

.accordion-collapse div {
    color: black;
}

.custom-body {
    padding-left: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.icons {
    margin-left: auto;
    color: #696969 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icon {
    font-size: 1.6em;
    margin-right: 10px;
    padding: 0;
    line-height: 1;
}

.icons button {
    background: none;
    border: none;
}

.cancel path {
    fill: #696969;
}

.checkmark {
    color: #09874b;
}

.ellipsis {
    font-size: 1.4em;
}

.published {
    color: #09874b;
}

.published-item {
    border-left: 5px solid #09874b;
}